.signInFormConnexion{
    width: 750px;
    margin: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signInFormFormConnexion, button{
    height: 50px;
    width: 130px;
    background-color: #05a081;
    border-radius: 10px;
    border: solid 0.5px #F8F9FF;
    -webkit-transition: color 1.5s ease-out;
    -moz-transition: color 1.5s ease-out;
    -o-transition: color 1.5s ease-out;
    transition: color 1.5s ease-out;
}
.signInDivConnexion{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    height: 170px; 
    margin-bottom: 0;
    margin-top: 0;
}
.signInDivConnexion > input {
    background-color: #343a40;
    height: 50px;
    width: 270px;
    font-size: 20px;
    color: #F8F9FF;
    border-radius: 10px;
    border: solid 0.5px #F8F9FF;
    margin: auto;
}
